p {
  font-family: Lato;
}

.page-content-div {
  margin: 80px !important;
}

.update-file-div {
  left: 4.58%;
  right: 4.79%;
  top: 28.71%;
  bottom: 45.41%;

  border: 1px dashed #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.update-file-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: rgba(0, 0, 0, 0.5);
}
